<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="Title" content="PID Form" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no" />
    <meta name="Keywords" content="EUDI Wallet, PID, Enrolment, Form" />
    <meta name="Description" content="PID Form for EUDI Wallet" />
    <meta name="robots" content="noindex, nofollow" />
    <meta http-equiv="Cache-Control" content="no-cache,no-store,must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/vnd.microsoft.icon" />
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.gif') }}" type="image/gif" />
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='images/apple-touch-icon.png') }}" />
    <link href="{{ url_for('static', filename='bootstrap-3.4.1-dist/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ url_for('static', filename='css/stylesheets/custom/custom_en_9.7.1.20.1679559965505.css') }}" media="all" rel="stylesheet" type="text/css" />
   
    <link href="{{ url_for('static', filename='fontawesome-free-5.15.4-web/css/fontawesome.min.css') }}" rel="stylesheet" type="text/css" />
    <script type="text/javascript" id="jqueryId" src="{{ url_for('static', filename='scripts/jquery/jquery-3.6.3.min.js') }}" charset="UTF-8"></script>

    <script type="text/javascript" src="{{ url_for('static', filename='scripts/promiz/promiz-1.0.6.js') }}" charset="UTF-8"></script>

    <script type="text/javascript" src="{{ url_for('static', filename='bootstrap-3.4.1-dist/js/bootstrap.min.js') }}" charset="UTF-8" defer="true"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/html5shiv/html5shiv-3.7.3.js') }}" charset="UTF-8"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/respond/respond-1.4.2.js') }}" charset="UTF-8"></script>
    <meta name="referrer" content="no-referrer">
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/loc/loc_en_9.7.1.20.1679559965505.js') }}" charset="UTF-8"></script>

    <title>Form for your EUDI Wallet</title>
</head>

<body id="responsive-main-nav">>

    <div class="main container-fluid">


        <header role="banner" class="main-header">
            <div class="container">
                <div class="row">
                </div>
            </div>
        </header>

        <div role="main" class="container">
            <div class="row">
                <div class="col-md-12">

                    <h1>Enter the data for your EUDI Wallet</h1>
                    <div id="content" class="content-wrap content-center col-md-6 col-sm-7">

                        <div class="genericErrors" id="genericErrorsDesc">

                        </div>
                        <h2>Please enter your basic information</h2>
                        <form id="selectCountryForm" method="post" action="{{redirect_url}}" onsubmit="return validateImage()" accept-charset="UTF-8" enctype="multipart/form-data" autocapitalize="off" spellcheck="false">
                            <h3>Test Provider Form</h3>
                            <p>This data is only used for issuing credentials for testing purposes.</p>
                            <div id="eidasCountries">
                                {% for name, value in mandatory_attributes.items() %}    
                                        {% if value == 'string' %}
                                            <div class="row g-3">
                                                <div class="col-md-12">
                                                    <input type="text" class="form-control" placeholder="{{ name }}" aria-label="{{ name }}" name="{{ name }}" required >
                                                </div>
                                            </div>
                                        {% elif value == 'bool' %}
                                        <div class="row g-3">
                                            <div class="col-md-12">
                                                <label for="{{ name }}">{{ name }}</label>
                                                <!-- Hidden input to represent the unchecked state -->
                                                <input type="hidden" id="{{ name }}_hidden" name="{{ name }}" value="false">
                                                <!-- Checkbox input -->
                                                <input type="checkbox" id="{{ name }}" name="{{ name }}" value="true">
                                            </div>
                                        </div>
                                        <script>
                                            function setupCheckbox(name) {
                                                const checkbox = document.getElementById(name);
                                                const hiddenInput = document.getElementById(name + "_hidden");
                                                
                                                // Function to update hidden input based on checkbox state
                                                function updateHiddenInput() {
                                                    hiddenInput.value = checkbox.checked ? 'true' : 'false';
                                                }
                                                
                                                // Attach the change event listener
                                                checkbox.addEventListener('change', updateHiddenInput);
                                                
                                                // Call the function to set the initial state correctly
                                                updateHiddenInput();
                                            }
                                            
                                            // Setup each checkbox with a unique name
                                            setupCheckbox("{{ name }}");
                                        </script>                   
                                        {% elif name == 'user_pseudonym' %}
                                        <div class="row g-3">
                                            <div class="col-md-12">
                                                {{name}}
                                                <input type="text" class="form-control" placeholder="{{ value }}" aria-label="{{ name }}" name="{{ name }}" value="{{value}}" readonly  >
                                             </div>
                                        </div>
                                        {% elif value == 'full-date' %}
                                            <div class="row g-3">
                                                <div class="col-md-12">
                                                    {{name}}
                                                    <input type="date" class="form-control" placeholder="{{ name }}" aria-label="{{ name }}" name="{{ name }}" required >
                                                </div>
                                            </div>
                                        {% elif value == 'jpeg'%}
                                            <label>Portrait:</label>
                                            <p>Please select one option or upload a file.</p>
                                             
                                            <div class="row g-3">
                                                
                                                <div class="col-md-6">
                                                    <label>
                                                        <input type="radio" name="{{ name }}"value="Port1" checked >
                                                        <img src="{{url_for('static', filename='image.jpeg')}}" width=50% alt="Option 1">
                                                    </label>
                                                </div>
                                                <div class="col-md-6">
                                                    <label>
                                                        <input type="radio" name="{{ name }}" value="Port2">
                                                        <img src="{{url_for('static', filename='image2.jpeg')}}" width=50% alt="Option 2">
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="row g-3" style="margin-top: 10% ;">
                                                <div class="col-md-6">
                                                    <input type="radio" name="{{ name }}" id="Option3" value="Port3">
                                                    <label >
                                                        <input type="file" name="Image" id="fileInput" accept="image.jpeg" capture>
                                                        <div id="preview">
                                                        </div>            
                                                        <p>Type: image/jpeg , Size(pixels): 360x433 </p>
                                                    </label>
                                                    
                                                </div>

                                            </div>
                                        {% elif value == 'driving_privileges' %}
                                            <div class="row g-3">
                                                <div class="col-md-12">
                                                    <div class="form-group" id="DrivingP">
                                                        <label for="Driving">Driving Privileges</label>
                                                        <label>Category </label>
                                                            <select class="form-control" name="Category1">
                                                                <option>AM</option>
                                                                <option>A1</option>
                                                                <option>A2</option>
                                                                <option>A</option>
                                                                <option>B1</option>
                                                                <option>B</option>
                                                                <option>C1</option>
                                                                <option>C</option>
                                                                <option>D1</option>
                                                                <option>D</option>
                                                                <option>BE</option>
                                                                <option>C1E</option>
                                                                <option>CE</option>
                                                                <option>D1E</option>
                                                                <option>DE</option>
                                                            </select>
                
                                                            <div class="col">
                                                                Issue Date:
                                                                <input type="date" class="form-control" placeholder="Issue Date" aria-label="Issue Date" name="IssueDate1" required>
                                                            </div>
                                                            <div class="col">
                                                                Expiry Date:
                                                                <input type="date" class="form-control" placeholder="Expiry Date" aria-label="Expiry Date" name="ExpiryDate1" required>
                                                            </div>
                                                            
                                                            <div id="AddCategory">
                
                                                            </div>
                                                            <button type="button" class="btn btn-primary btn-sm" onclick="AddCategories();">Add</button>                   
                                                    </div>
                                                </div>
                                                <div class="col-md-12" id="hidden_elems">
                                                    {% for elem, value in hidden_elems %}
                                                    <div class="col" >
                                                        <input type="hidden" value="{{ value }}" name="{{ elem }}">
                                                    </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        {% endif %} 
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="clearfix"></div>


                            <span class="more-submit">
                                <input type="submit" onclick="AddNumberCategories();" name="proceed" accesskey="S" value="Submit" class="btn btn-primary" title="Submit" />
                                <input type="button" name="Cancelled" accesskey="C" value="Cancel" id="cancelBtnId" class="btn btn-cancel btn-alternate cancellable" title="Cancel" onclick="window.history.back();" />                            </span>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <footer class="main-footer container-fluid" role="contentinfo">
        <div class="container">
            <div class="row">
            </div>
        </div>
    </footer>
</body>
<script>
    var room = 1;

    function AddCategories() {

        room= room + 1 ;
        var objTo = document.getElementById('AddCategory')
        var divtest = document.createElement("div");
        divtest.setAttribute("class", "form-group removeclass"+room);
        var rdiv = 'removeclass'+room;
        divtest.innerHTML = '<label>Category </label><select class="form-control" name="Category'+ room +'"><option>AM</option><option>A1</option><option>A2</option><option>A</option><option>B1</option><option>B</option><option>C1</option><option>C</option><option>D1</option><option>D</option><option>BE</option><option>C1E</option><option>CE</option><option>D1E</option><option>DE</option></select><div class="col">Issue Date:<input type="date" class="form-control" placeholder="Issue Date" aria-label="Issue Date" name="IssueDate'+ room +'" required></div><div class="col">Expiry Date:<input type="date" class="form-control" placeholder="Expiry Date" aria-label="Expiry Date" name="ExpiryDate'+ room +'" required></div><button class="btn btn-danger" type="button" onclick="remove_education_fields('+ room +');">Delete</button>';
        
        objTo.appendChild(divtest)
    }
    
    function remove_education_fields(rid) {
        $('.removeclass'+rid).remove();
        room = room-1;
        
    }

    function AddNumberCategories(){
        var objTo = document.getElementById('hidden_elems')
        var divtest = document.createElement("div");
        divtest.setAttribute("class", "col");
        divtest.innerHTML='<input type="hidden" value="'+room+'" name="NumberCategories">';
        objTo.appendChild(divtest)
    }
    document.addEventListener("DOMContentLoaded", function() {
        var isValid= false

        document.getElementById('fileInput').addEventListener('change', function(event) {

            var files = event.target.files;
            var preview = document.getElementById('preview');
            
            // Clear any existing content
            preview.innerHTML = '';

            // Loop through all selected files
            for (var i = 0; i < files.length; i++) {
                var file = files[i];

                // Only process image files
                if (!file.type.match('image/jpeg')) {
                    continue;
                }

                var imgContainer = document.createElement('div');
                imgContainer.style.marginBottom = '20px'; // Spacing between each image container

                var img = document.createElement('img');
                img.src = URL.createObjectURL(file);

                img.onload = function() {
                    if (img.naturalHeight != 433 && img.naturalWidth != 360){
                        alert("Height and width must be 433 and 360");
                        img.onerror = reject;
                        URL.revokeObjectURL(img.src)
                    }
                    alert("Valid image size");
                    return true
                }
                img.style.width = '20%';
                img.style.display = 'block'; // Ensure the image is displayed in a block to put it on a new line
                img.style.marginBottom = '10px';
                img.style.marginTop = '10px';

                // Append the image and file info to the container
                imgContainer.appendChild(img);

                // Append the container to the preview div
                preview.appendChild(imgContainer);
            }
        });


        function submitForm() {
            if (isValid) {
                document.getElementById('myselectCountryForm').submit(); 
            }
        }

        
        function validateImage() {

        
            // File uploaded, check if radio button is checked
            var radioButtons = document.getElementById('Option3');

            if (radioButtons.checked) {
                var fileInput = document.getElementById('fileInput');
                var file = fileInput.files[0];

                if (!file) {
                    alert('No file selected.');
                    return false; 
                }

                console.log(file)

                // Check file type
                if (file.type !== 'image/jpeg') {
                    alert('Please select a JPEG image.');
                    fileInput.value = ''; 
                    return false; 
                }

                // Check image dimensions
                var img = document.createElement('img');
                img.src = URL.createObjectURL(file);
                img.onload = function () {
                    var maxWidth = 360;
                    var maxHeight = 433;
                    if (img.naturalWidth != maxWidth || img.naturalHeight != maxHeight) {
                        alert('Image dimensions are not allowed .');
                        fileInput.value = ''; // Clear file input
                        isValid=false;// Prevent form submission

                    } else{
                        isValid=true;
                        submitForm();
                        
                    }
                };
                
                img.src = URL.createObjectURL(file);

                // Prevent form submission while waiting for image dimensions validation
                return false;
            } else {
                document.getElementById('myselectCountryForm').submit();
            }
        }
    });

</script>

</html>