Flask-Cors==4.0.0
requests==2.31.0
cbor2==5.4.6
pytz==2023.4
flask==2.3.3
pyignite==0.6.1
tinyec==0.4.0
pycryptodome==3.20.0
config==0.5.1
flask_api==3.1
cbor_diag==1.0.1
validators==0.22.0
Flask-Session==0.6.0
jsonschema==4.21.1
flask==2.3.3 
werkzeug==2.3.7 
pycose==1.0.1
cwt==2.3.2
pyjwt==2.8.0
schedule==1.2.1
pillow==10.2.0
segno==1.6.1
qrcode-artistic==3.0.2
gunicorn
git+https://github.com/eu-digital-identity-wallet/pyMDOC-CBOR.git
git+https://github.com/eu-digital-identity-wallet/idpy-oidc.git
git+https://github.com/eu-digital-identity-wallet/openid4v.git
#git+https://github.com/openwallet-foundation-labs/sd-jwt-python.git@9181a0a4514b7de2cc30a84d320b509e9fc5cb59
git+https://github.com/openwallet-foundation-labs/sd-jwt-python.git@v0.10.4-1
git+https://github.com/rohe/fedservice.git@a4bef2e3f230f4b07c6ef45e4c8be55778d0561e
git+https://github.com/rohe/idpy-sdjwt.git@de1715ef89c7f3db5daf3cdc53fec26d6ade03d9