.slideshow-container {
    position: relative;
    max-width: 100%;
    margin: auto;
}

.slides {
    display: none;
}

.active {
    display: block;
}

.navigation {
    cursor: pointer;
    padding: 8px 16px;
    margin-top: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
}

.navigation:hover {
    background-color: #555;
}

.text {
    text-align: center;
    padding: 10px;
    font-size: 18px;
}